html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, form, input,textarea,p,blockquote, table, tr, th, td { margin: 0;  padding: 0;  border: 0;}
table{border-collapse:collapse; border-spacing:0;}
img { border: 0; vertical-align: top; }
address,caption,cite,code,dfn,em,th,var{ font-style:normal; font-weight:normal;}
ol,ul,dl {list-style:none;}
input,textarea{border: 0; outline: 0; -webkit-appearance: none; resize: none;}
h1,h2,h3,h4,h5,h6,b{font-size:100%;}
.clearfix:after{content: ""; display: block; clear: both;}
a {text-decoration: none; color: #000; cursor: pointer;}
i{font-style: normal;}

/*/!* --ie清除--*!/
select::-ms-expand{ display: none; }
/!* --火狐、谷歌清除--*!/
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
}
option::-ms-expand{ display: none; }
option{
    -moz-appearance:none; /!* Firefox *!/
    -webkit-appearance:none; /!* Safari 和 Chrome *!/
    appearance:none;
}*/
.fl{ float:left;}
.fr{ float:right;}
.hide { display: none;}
.pr{position: relative;}
.pa{position: absolute;}

body{
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}


.head .logos{
    width: 544px;
    margin-top: 40px;
}
.head .h_right{
    padding-top: 10px;
   /* overflow: hidden;*/
}
.head .h_right ul{
   
	height:32px;
}
.head .h_right ul li{
    float: left;
    margin-left: 8px;
    margin-top: 9px;
}
.head .h_right ul li a{
    color: #444;
}
.head .h_right ul li.border:after {
    content: '|';
    margin-left: 15px;
    color: #cdcdcd;
}
.head .h_right ul li.take:before {
    content: '|';
    margin-right: 15px;
    color: #cdcdcd;
}

.head .h_right ul .share{
  /*  overflow: hidden;*/
}
.head .h_right ul .share a {
    float: left;
    width: 26px;
    height: 26px;
}
.head .h_right ul .share .weibo {
    margin-right: 10px;
    background: url("../images/7035885.png") no-repeat;
}
.head .h_right ul .share .weixin{
    background: url("../images/7035886.png") no-repeat;
	position:relative;
}

.head .h_right ul .share .wxshare{
   position:absolute;
   left:28px;
   
   width:135px;
   height:147px;
}
.head .h_right .searchbox{
    border: 1px solid #d6e2ec;
    width: 364px;
    height: 33px;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 158px;
    margin-top: 16px;
}
.head .h_right .searchbox .s_ipt{
    width: 270px;
    height: 31px;
    line-height: 31px;
    padding-left: 10px;
}
.head .h_right .searchbox .ibt{
    width: 84px;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-weight: bold;
    background-color: #54a5ec;
    text-align: center;
    border-radius: 0 3px 3px 0;
}
.head .h_right .hotword{
    margin: 5px 0 0 65px;
}
.head .h_right .hotword a{
    color: #999;
    margin: 0 9px;
}

.head{height:117px;}


.w1100{
    width: 1100px;
    margin: 0 auto;
}
.mar30{
    margin-top: 30px;
}
.white{
    color: #fff;
}
.txt16{
    font-size: 16px;
}
.txt18{
    font-size: 18px;
}
.txt20{
    font-size: 20px;
}
.nav{
    padding-top: 12px;
	font-size:0;
	white-space:nowrap;
}
.nav a img{margin-top:8px;}
.nav > div{display:inline-block;float:none;}
.nav > div > a,
.nav > a {
    color: #235ba0;
    display: inline-block;
    margin: 0 22px;
    float: none;
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
	overflow:hidden;
}


.foot .info{
    padding: 20px 0;
	border-top:1px solid #d1d1d1;
}
.foot .info .jc{
    margin: 15px 50px 0 17px;
}
.foot .info .jg{
    margin: 10px 40px 0 0;
}
.foot .info .txt{
    color: #666;
    line-height: 24px;
}
.foot .info .txt p span{
    margin: 0 19px;
}
.foot .info .txt p img{
    margin-right: 6px;
}
.foot .info .txt p.lastp{
    margin-top: 10px;
}


/*当前位置图标*/
div.loc,
div.mnav{background-image:url(../images/7117935.png);}


.nav a.backin{
    margin: 0px 15px 0 15px;
}
.head .h_right ul li{ font-size:12px; color:#444;  margin-top:9px;}
.head .h_right ul .share {
	margin-top: 2px;
}


.mob-nav{width:100%;height:50px;background:#0051A7;float:left;display:none;line-height:50px;}
.mob-nav a{color:#fff;font-size:18px;display:block;width:100%;text-align:center;}

.mob-foot{width:100%;float:left;background:#f5f5f5;font-size:14px;color:#333;line-height:2;display:none;padding:15px 0;}
.mob-foot a{color:#333;}
.mob-foot-l{width:30%;position:relative;text-align:center;}
.mob-foot-l img{position:relative;top:50%;margin-top:-40px;}
.mob-foot-r{width:100%;}
.mob-foot-r a img{position: relative;top: 5px;padding-right: 7px;}

.mob-bottom{width:100%;float:left;height:50px;background:#025193;font-size:18px;color:#fff;text-align:center;display:none;}
.mob-bottom a{color:#fff;line-height:18px;margin-top:16px;display:inline-block;vertical-align:top;position:relative;padding-left:30px;box-sizing:border-box;}
.mob-bottom a + a{margin-left:30px;}
.mob-bottom img{position:absolute;top:0px;margin-right:8px;left:0;}
.mob-bottom a.btm02 img{top:-2px;}

/*手机版头尾切换
@media screen and (max-width: 750px){
	.w1100{width:100%;clear:both;}
	.head{height:auto;}
	.head .logos{width:100%;padding:0 20px;box-sizing:border-box;margin:25px 0;}
	.head .logos img{max-width:100%;}
   .h_right{display:none;}
   .nav{display:none !important;}
   .mob-nav{display:flex !important;}
   .foot{background:#f5f5f5;display:none !important;}
   .mob-foot{display:flex !important;}
   .mob-bottom{display:block;}
}
*/